CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_tiny=y
CONFIG_TARGET_ar71xx_tiny_DEVICE_tl-wr841-v8=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y

CONFIG_PACKAGE_kmod-usb-hid=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_ffmpeg=y
CONFIG_PACKAGE_mpd-full=y
CONFIG_PACKAGE_mpc=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_mount-utils
CONFIG_PACKAGE_block-mount

CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libwolfssl=y

CONFIG_PACKAGE_luci-theme-netgear=y

CONFIG_PACKAGE_luci-app-eqos=y

CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y

CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y

CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y

