CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1208=y
CONFIG_PACKAGE_ipv6helper=y

#CONFIG_PACKAGE_luci-app-socat=y

CONFIG_PACKAGE_luci-app-advanced=y
CONFIG_PACKAGE_luci-i18n-advanced-zh-cn=y

#CONFIG_PACKAGE_luci-app-nodogsplash=y
#CONFIG_PACKAGE_luci-i18n-nodogsplash-zh-cn=y

#CONFIG_PACKAGE_adbyby=y
#CONFIG_PACKAGE_luci-app-adbyby-plus=y
#CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=y

#CONFIG_PACKAGE_luci-app-frpc=y
#CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y

#CONFIG_PACKAGE_luci-app-pptp-vpnserver-manyusers=y
#CONFIG_PACKAGE_luci-i18n-pptp-vpnserver-manyusers-zh-cn=y

#CONFIG_PACKAGE_luci-theme-netgearv2=y
#------------------------------------------------------
