CONFIG_TARGET_bcm63xx=y
#CONFIG_TARGET_bcm63xx_bcm6358=y
CONFIG_TARGET_bcm63xx_bcm6358_DEVICE_alcatel_rg100a=y

CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y

CONFIG_PACKAGE_ipv6helper=y

#CONFIG_PACKAGE_luci-theme-netgear=y

#------------------------------------uhttpd  openwrt 自带

CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y

#--------------------------------lean 打印服务
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y

#CONFIG_PACKAGE_luci-app-socat=y

#CONFIG_PACKAGE_luci-app-advanced=y
#CONFIG_PACKAGE_luci-i18n-advanced-zh-cn=y

#CONFIG_PACKAGE_luci-app-nodogsplash=y
#CONFIG_PACKAGE_luci-i18n-nodogsplash-zh-cn=y

#CONFIG_PACKAGE_adbyby=y
#CONFIG_PACKAGE_luci-app-adbyby-plus=y
#CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=y

#CONFIG_PACKAGE_luci-app-frpc=y
#CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y

#CONFIG_PACKAGE_luci-app-pptp-vpnserver-manyusers=y
#CONFIG_PACKAGE_luci-i18n-pptp-vpnserver-manyusers-zh-cn=y
#------------------------------------------------------
